@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    list-style-type: none;
}

#wrapper {
    /*Kích thước màn hình là 1280 x 720*/
    width: 100%;
    height: 100vh;
}

#header {
    width: 100%;
    padding: 0px 30px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    list-style: none;
    display: flex;
}

    #menu .item {
        margin: 0px 25px;
    }

        #menu .item a {
            font-size: 16.5px;
            color: #1f1e1e;
            text-decoration: none;
        }

.Orther {
    display: flex;
    margin-right: 50px;
}

    .Orther li {
        position: relative;
    }

        .Orther li input {
            width: 100%;
            border: none;
            border-bottom: 2px solid #3333;
        }

        .Orther li i {
            position: absolute;
            right: 1px;
        }

#wp-products {
    padding-top: 10px;
    padding-bottom: 68px;
    padding-left: 134px;
    padding-right: 134px;
}

    #wp-products h2 {
        padding-left: 20px;
        margin-top: 26px;
        font-size: 30px;
        color: #000000;
    }

#list-products {
    margin-left: 100px;
    justify-content:center;
    padding-top: 30px;
    display: grid;
    list-style: none;
    grid-template-columns:repeat(4,1fr);
    align-items: center;
   
}

    #list-products .item {
        width: 290px;
        height: 374px;
        background: #a9a9a9;
        border-radius: 10px;
        margin-bottom: 50px;
    }

        #list-products .item:hover {
            margin-top: 20px;
            transition: 0.3s;
            background:gray;
        }

        #list-products .item img {
            display: block;
            margin: 0px auto;
            margin-top: 10px;
            border-radius: 10px;
        }

        #list-products .item .name {
            text-align: center;
            font-size: 20px;
            color: #fff;
            margin-top: 21px;
            overflow: hidden; /* Ẩn nội dung vượt ra khỏi phần tử cha */
            text-overflow: ellipsis; /* Hiển thị dấu chấm (...) cho nội dung bị cắt */
            white-space: nowrap; /* Ngăn cách nội dung trên nhiều dòng */
        }

        #list-products .item .desc {
            text-align: center;
            font-weight: bold;
            color: #5c3c3cd2;
            margin-top: 21px;
        }

        #list-products .item .price {
            text-align: center;
            color: white;
            font-weight: bold;
            margin-top: 25px;
        }

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 278px;
    height: 192px;
}

#footer {
    width: 100%;
    background: rgb(0,0,0,0.79);
    height: 322px;
    margin-top: 0px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
}

    #footer .box {
        width: 250px;
        color: #fff;
    }

        #footer .box .quick-menu {
            margin-top: 40px;
        }

            #footer .box .quick-menu .item {
                margin-bottom: 12px;
            }

        #footer .box .quick-menu, .item a {
            color: #fff;
            text-decoration: none;
        }

        #footer .box input {
            width: 294px;
            height: 42px;
            background: transparent;
            padding-left: 20px;
            color: #fff;
            margin-top: 30px;
        }

        #footer .box button {
            background: #362f2f;
            box-shadow: 5px 5px 4px rgba(0,0,0.25);
            width: 163px;
            height: 38px;
            margin-top: 29px;
            color: #fff;
        }